<% if notice %> 
<p id="notice"><%= notice %></p> 
<% end %>
<div class="entry">
  <% @response_hash[:data].each do |t| %>
  <div class="entryrow">
    <div class="entryimg">
    </div>
    <div class="entrycontent">
      <div class="entrytitle">
        <div class="entrytag">
          <%= link_to "#{t[:id]}", '#', :class => 'entrylinks' %>
        </div>
        <div class="entrycomment">
          <%= link_to "#{t[:timestamp]}", '#', :class => 'entrylinks' %>
        </div>
      </div>
      <div class="entryname">
        <%= link_to "#{t[:author_name]}", '#', :class => 'entrylinks' %>
      </div>
      <div class="entrybody">
        <%= link_to "#{t[:message]}", '#', :class => 'entrylinks'
			if t[:photo_file_name]
				link_to image_tag("http://s3.amazonaws.com/scrapboard/kupos/photos/"+"#{t[:id]}" +"/square/"+"#{t[:photo_file_name]}"), '/v1/kupos/'+"#{t[:id]}"+'?access_token='+"#{params[:access_token]}"
		 	end
		%>
      </div>
    </div>
  </div>
  <% end %>
</div>