<% if notice %> 
<p id="notice"><%= notice %></p> 
<% end %>
<div class="events">
  <% @response_hash[:data].each do |t| %>

  <div class="entryrow">
    <div class="entryimg">
    </div>
    <div class="entrycontent">
	  <%= link_to '', '/v1/events/'+"#{t[:id]}"+'/kupos?access_token='+"#{params[:access_token]}" %>
	  <div class="entrytime">
	    <%= t[:timestamp] %>
      </div>



	  <%= link_to "#{t[:tag]}", '/v1/events/'+"#{t[:id]}"+'/kupos?access_token='+"#{params[:access_token]}", :class => 'entrylinks'  %>
      <br>
      <em><%= t[:name] %></em>
      <br>
      <em><%= t[:last_activity] %></em>
      <br>
	  <% t[:participants].each do |e| %>
      <em><%= e[:first_name] %></em>
      <% end %>
    </div>
  </div>
  <% end %>
</div>