<!DOCTYPE html>
<html>
  <head>
    <title>Scrapboard</title>
    <!-- [if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'moogle', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/ie', :media => 'screen' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag "scaffold/ie" %><![endif]-->
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <div id="content" class="contentround">
        <div class="contentborder">
          <%= render 'layouts/nav' %>
          <%= yield %>
          <%= render 'layouts/footer' %>
        </div>
      </div>

    </div>
  </body>
</html>